{{!< default}} 

{{> "site-nav"}}

    <div class="container">
        <div class="wrap">
            <div class="list-top">
                {{#foreach posts}} {{> "list-post"}} {{/foreach}} {{pagination}}

                <div class="footer">
                    <div class="footer-inter">
                        <p class="small">© Copyright 2018 zhouyulong</p>
                    </div>
                </div>
            </div>
        </div>
    </div>